@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
}

.quote_box {
  background-color: rgb(223, 61, 61);
  padding: 10px;
  margin: 30px;
  border-radius: 25px;
  padding-bottom: 25px;
  /* width: 500px; */
}
.qb_secondLine {
  position: relative;
  /* display: flex; */
  justify-content: space-between;
}
.qb_author {
  /* display: flex; */
  /* background-color: aqua; */
}

.qb_quote {
}

.qb_bookmark {
  position: relative;
  float: right;
  display: flex;
  bottom: 23px;
  cursor: pointer;
}
