body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Created with https://www.css-gradient.com */
  background: #411e7e;
  background: -webkit-linear-gradient(left, #411e7e, #b541ff);
  background: -moz-linear-gradient(left, #411e7e, #b541ff);
  background: linear-gradient(to right, #411e7e, #b541ff);
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
